@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0px;
    font-family: 'Roboto';
}

.hero_div {
    background-color: #1F2937;
}

.hero_div nav {
    display: flex;
    justify-content: center;
}

.hero_div ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
    padding: 20px 0px;
    margin: auto;
    width: 70%;
    gap: 20px;
    font-weight: 300;
    margin-right: 0px;
    margin-left: 0px;
}

.hero_div ul li{
    align-items: center;
    display: flex;
}

.hero_div ul li a img{
    width: 80px;
    height: 80px;
    border-radius: 20%;
}

nav {
    margin-bottom: 50px;
}

.hero_div a{
    color: #E5E7EB;
    text-decoration: none;
    align-self: center;
}

.hero_div .right {
    margin-left: auto;
}

.hero_div .header_left {
}

.hero_div .header {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: stretch;
    padding-bottom: 60px;
}

.hero_div .header h1{
    font-size: 45px;
    font-weight: 700;
    color: #F9FAF8;
    margin: 0px;
}

.header_left p {
    font-size: 18px;
    color: #acafb3;
    margin-right: 60px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Roboto';
    font-size: 18px;
    margin-bottom: 15px;
}

.div2 h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin: 0px;
    padding-bottom: 50px;
}

.info_container {
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 200px;
}

.info p {
    padding: 0px 20px;
    text-align: center;
    color: #6b6c70;
}

.div2 {
    padding: 50px;
}

.div3 {
    background-color: #E5E7EB;
    padding: 125px 0px;
}

.div3 p#testimonial {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
    width: 70%;
    margin: auto;
    text-align: left;
}

.div3 p#author {
    width: 70%;
    font-size: 20px;
    font-weight: 700;
    color: #1F2937;
    margin: auto;
    text-align: right;
}

.blue_container{
    background-color: #3882F6;
    color: white;
    width: 70%;
    margin: 75px auto;
    padding: 50px 100px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.blue_container .text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 10px;
}

.blue_container p{
    margin: 0px;
    
}

.blue_container p#header1 {
    font-weight: 500;
    font-size: 25px;
    
}

.blue_container p#content1 {
    font-size: 15px;
}

#button2 {
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}